//google fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/functions";
// Edit Custom Variables here.
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins.scss";


$cust-colors: (
    "primary": #0876DD,
    "primary-light": #e0f2fe,
    "secondary": #29D2D3,
    "secondary-light": #cffafe,
    "dark": #111827,
    "light": #F6F9FF,
)!default;

$heading-sizes: (
    1: 36,
    2: 30,
    3: 24,
    4: 18,
);
$white-glass: rgba(255, 255, 255, 0.7);

$card-bg: $white-glass;


//font overrides
$font-family-base: Space Grotesk, sans-serif;
$display-font-weight: 700;

$display-emphasis-font-family: Lobster, sans-serif;
$display-emphasis-font-weight: 400;  

//custom classes
.card-image-top {
    max-height: 277px;
    object-fit: cover;
}

.gradient {
    background: linear-gradient(90deg, rgba(207, 250, 254, 0.54) 0%, rgba(224, 242, 254, 1) 100%), #FFFFFF;
}

.blur {
    backdrop-filter: blur(8px);
}

.display-emphasis {
    font-family: $display-emphasis-font-family;
    font-weight: $display-emphasis-font-weight;
}
.hide-overflow-x {
    overflow-x: hidden;
}

.circle{
	background: url('/images/circle.svg') 100% 0% no-repeat, url('/images/circle-primary.svg') -100% 95% no-repeat;
    background-size: 70%, 90%;
}

.hero-outline{
    outline: 3px solid #0876DD;
    outline-offset: 1rem;

    &:hover{
        outline: 3px solid #cffafe; 
    }
}



//---maps---
//colours
$theme-colors: map-merge($theme-colors, $cust-colors);
$theme-colors: map-remove($theme-colors, "danger", "success", "info", "warning");

//fonts
$font-sizes: map-merge($font-sizes, $heading-sizes);


@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-icons.scss";
