//google fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/functions";
// Edit Custom Variables here.
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins.scss";


$cust-colors: (
    "primary": #0876DD,
    "primary-light": #E0F2FE,
    "secondary": #29D2D3,
    "secondary-light": #CFFAFE,
    "dark": #111827,
    "light": #F6F9FF,
)!default;

//font overrides
$font-family-base: Space Grotesk, sans-serif;
$display-font-weight: 700;

$display-emphasis-font-family: Lobster, sans-serif;
$display-emphasis-font-weight: 400;  

//custom classes
.display-emphasis {
    font-family: $display-emphasis-font-family;
    font-weight: $display-emphasis-font-weight;
}
.hide-overflow-x {
    overflow-x: hidden;
}
.border-pos{
    left: -1%;
    top: 39%;
    width: 87%;
    height: 27%;
}
.circle {
    width: 800px;
    height: 800px;
    border-radius: 50%;
}

//maps
$theme-colors: map-merge($theme-colors, $cust-colors);

$theme-colors: map-remove($theme-colors, "danger", "success", "info", "warning");


@import "../node_modules/bootstrap/scss/bootstrap.scss";
